.cat_fact {
    display: flex;
    flex-direction: column;
    gap: 10px;
   width: 400px;
}
.cat_form {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.text {
    margin: 10px;
    white-space: normal;
}
.input {
    resize: none;
    height: 200px;
    outline: none;
    border: none;
}
.btn {
    border-radius: 5px;
    padding: 5px;
    background-color: #d7e3da;
}
.btn:hover {
    background-color: cadetblue;
    border-color: cadetblue;
    cursor: pointer;
    transition: 0.3s ease-out;
}
